/* stylelint-disable declaration-block-no-redundant-longhand-properties */
/* stylelint-disable no-descending-specificity */

/* Sakura.css v1.5.0
 * ================
 * Minimal css theme.
 * Project: https://github.com/oxalorg/sakura/
 */

/* Body */
html {
  font-size: 62.5%;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif;
}

body {
  max-width: 38em;
  margin: auto;
  padding: 13px;
  color: #4a4a4a;
  font-size: 1.8rem;
  line-height: 1.618;
  background-color: #f9f9f9;
}

@media (max-width: 684px) {
  body {
    font-size: 1.53rem;
  }
}

@media (max-width: 382px) {
  body {
    font-size: 1.35rem;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 3rem;
  margin-bottom: 1.5rem;
  font-weight: 700;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif;
  line-height: 1.1;
  word-wrap: break-word;
  -ms-word-break: break-all;
  word-break: break-word;
  overflow-wrap: break-word;
}

h1 {
  font-size: 2.35em;
}

h2 {
  font-size: 2em;
}

h3 {
  font-size: 1.75em;
}

h4 {
  font-size: 1.5em;
}

h5 {
  font-size: 1.25em;
}

h6 {
  font-size: 1em;
}

p {
  margin-top: 0;
  margin-bottom: 2.5rem;
}

small,
sub,
sup {
  font-size: 75%;
}

hr {
  border-color: #1d7484;
}

a {
  color: #1d7484;
  text-decoration: none;
}

a:visited {
  color: #144f5a;
}

a:hover {
  color: #982c61;
  border-bottom: 2px solid #4a4a4a;
}

ul {
  margin-top: 0;
  margin-bottom: 2.5rem;
  padding-left: 1.4em;
}

li {
  margin-bottom: 0.4em;
}

blockquote {
  margin-right: 0;
  margin-bottom: 2.5rem;
  margin-left: 0;
  padding-top: 0.8em;
  padding-right: 0.8em;
  padding-bottom: 0.8em;
  padding-left: 1em;
  background-color: #f1f1f1;
  border-left: 5px solid #1d7484;
}

blockquote p {
  margin-bottom: 0;
}

img,
video {
  max-width: 100%;
  height: auto;
  margin-top: 0;
  margin-bottom: 2.5rem;
}

/* Pre and Code */
pre {
  display: block;
  margin-top: 0;
  margin-bottom: 2.5rem;
  padding: 1em;
  overflow-x: auto;
  font-size: 0.9em;
  background-color: #f1f1f1;
}

code,
kbd,
samp {
  padding: 0 0.5em;
  font-size: 0.9em;
  white-space: pre-wrap;
  background-color: #f1f1f1;
}

pre > code {
  padding: 0;
  font-size: 1em;
  white-space: pre;
  background-color: transparent;
}

/* Tables */
table {
  width: 100%;
  margin-bottom: 2rem;
  text-align: justify;
  border-collapse: collapse;
}

td,
th {
  padding: 0.5em;
  border-bottom: 1px solid #f1f1f1;
}

/* Buttons, forms and input */
input,
textarea {
  border: 1px solid #4a4a4a;
}

input:focus,
textarea {
  width: 100%;
}

textarea:focus {
  border: 1px solid #1d7484;
}

.button,
button,
input[type="submit"],
input[type="reset"],
input[type="button"],
input[type="file"]::file-selector-button {
  display: inline-block;
  box-sizing: border-box;
  padding: 5px 10px;
  color: #f9f9f9;
  white-space: nowrap;
  text-align: center;
  text-decoration: none;
  background-color: #1d7484;
  border: 1px solid #1d7484;
  border-radius: 1px;
  cursor: pointer;
}

.button[disabled],
button[disabled],
input[type="submit"][disabled],
input[type="reset"][disabled],
input[type="button"][disabled],
input[type="file"]::file-selector-button[disabled] {
  cursor: default;
  opacity: 0.5;
}

.button:hover,
button:hover,
input[type="submit"]:hover,
input[type="reset"]:hover,
input[type="button"]:hover,
input[type="file"]::file-selector-button:hover {
  color: #f9f9f9;
  background-color: #982c61;
  outline: 0;
}

.button:focus-visible,
button:focus-visible,
input[type="submit"]:focus-visible,
input[type="reset"]:focus-visible,
input[type="button"]:focus-visible,
input[type="file"]::file-selector-button:focus-visible {
  outline-width: 2px;
  outline-style: solid;
}

textarea,
select,
input {
  box-sizing: border-box;
  margin-bottom: 10px;
  padding: 6px 10px; /* The 6px vertically centers text on FF, ignored by Webkit */
  color: #4a4a4a;
  background-color: #f1f1f1;
  border: 1px solid #f1f1f1;
  border-radius: 4px;
  box-shadow: none;
}

textarea:focus,
select:focus,
input:focus {
  border: 1px solid #1d7484;
  outline: 0;
}

input[type="checkbox"]:focus {
  outline: 1px dotted #1d7484;
}

label,
legend,
fieldset {
  display: block;
  margin-bottom: 0.5rem;
  font-weight: 600;
}
